body.back {
    div.sidebar {
        height: auto;
        padding-left: 0;
        padding-right: 0;
        border-right: 1px solid #eee;
        box-sizing: border-box;

        @include phones() {
            position: fixed;
            bottom: 0;
            width: 100%;
            min-height: 60px;
            background-color: #fff;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            z-index: 1;
        }

        .navbar {
            @include phones() {
                padding-left: 0;
                padding-right: 0;
                min-height: 60px;
                background-color: #f9f9fe;
                border-top: 2px solid darken($light_green, 10%);
                box-sizing: border-box;

                .navbar-collapse {
                    margin-top: calc(60px - 1rem - 2px);
                }
            }
            
            @include all-but-phones() {
                padding: 0;

                ul.nav {
                    width: 100%;
                }
            }

            button {
                height: calc(60px - 1rem - 2px);

                i {
                    color: darken($light_green, 10%);;
                }
            }
        }

        a.nav-link {
            padding: 15px 30px;
            color: #8ca3ad;
            font-size: 14px;
            border-left: 2px solid transparent;

            @include phones() {
                padding-left: 15px;
                padding-right: 15px;
            }

            &:hover {
                color: #58707b;
            }

            &[aria-expanded="true"] {
                background-color: #f9f9fe;
                color: lighten($light_green, 2.5%);
                font-weight: 500;
            }

            &.parent {
                &:after {
                    float: right;
                }

                &[aria-expanded="false"] {
                    &:after {
                        content: '\002b';
                    }
                }
                
                &[aria-expanded="true"] {
                    &:after {
                        content: '\2013';
                    }
                }
            }

            &.child {
                padding: 10px 30px;

                @include phones() {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                &.active {
                    background-color: rgba(0, 179, 113, 0.25);
                    border-color: darken($light_green, 10%);
                    color: darken($light_green, 10%);
                    font-weight: 400;
                }
            }
            
            &.active:not(.parent):not(.child) {
                color: lighten($dark_green, 5%);
                font-weight: 500;
            }
        }

        div.collapse {
            &.show {
                background-color: #f9f9fe;
            }
            
            @include phones() {
                background-color: #f9f9fe;
            }
        }
    }
}