@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Regular-webfont.eot');
    src: url('../fonts/signika/Signika-LiRegularght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Regular-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Regular-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Regular-webfont.svg#signikasemibold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Light-webfont.eot');
    src: url('../fonts/signika/Signika-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Light-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Light-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Light-webfont.svg#signikasemibold') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Semibold-webfont.eot');
    src: url('../fonts/signika/Signika-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Semibold-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Semibold-webfont.svg#signikasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Bold-webfont.eot');
    src: url('../fonts/signika/Signika-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Bold-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Bold-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Bold-webfont.svg#signikasemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Riya';
    src: url('../fonts/signika/Riya-Black.woff') format('woff'),
         url('../fonts/signika/Riya-Black.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}