@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Regular-webfont.eot');
    src: url('../fonts/signika/Signika-LiRegularght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Regular-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Regular-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Regular-webfont.svg#signikasemibold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Light-webfont.eot');
    src: url('../fonts/signika/Signika-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Light-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Light-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Light-webfont.svg#signikasemibold') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Semibold-webfont.eot');
    src: url('../fonts/signika/Signika-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Semibold-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Semibold-webfont.svg#signikasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Bold-webfont.eot');
    src: url('../fonts/signika/Signika-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika/Signika-Bold-webfont.woff') format('woff'),
         url('../fonts/signika/Signika-Bold-webfont.ttf') format('truetype'),
         url('../fonts/signika/Signika-Bold-webfont.svg#signikasemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cherie Bomb';
    // src: url('../cherie-bomb/cheriebomb-regular-webfont.woff2') format('woff2'),
        //  url('../cherie-bomb/cheriebomb-regular-webfont.woff') format('woff'),
    src: url('../cherie-bomb/CherieBomb-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gineva';
    src: url('../gineva/gineva-regular-webfont.woff2') format('woff2'),
         url('../gineva/gineva-regular-webfont.woff') format('woff'),
         url('../gineva/Gineva-Regular.otf') format('otf'),
         url('../gineva/Gineva-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucky Dream';
    src: url('../lucky-dream/lucky_dream-webfont.woff2') format('woff2'),
         url('../lucky-dream/lucky_dream-webfont.woff') format('woff'),
         url('../lucky-dream/Lucky Dream.otf') format('otf'),
         url('../lucky-dream/Lucky Dream.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Twin Pines';
    src: url('../twin-pines/twinpines-regular.woff2') format('woff2'),
         url('../twin-pines/twinpines-regular.woff') format('woff'),
         url('../twin-pines/twinpines-regular.svg') format('svg'),
         url('../twin-pines/twinpines-regular.eot') format('eot'),
         url('../twin-pines/Twin Pines-regular.otf') format('otf'),
         url('../twin-pines/Twin Pines-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scenders';
    src: url('../scenders/Scenders-Regular.woff') format('woff'),
         url('../scenders/Scenders-Regular.svg') format('svg'),
         url('../scenders/Scenders-Regular.eot') format('eot'),
         url('../scenders/Scenders-Regular.otf') format('otf'),
         url('../scenders/Scenders-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Snap Dragon';
    src: url('../Snap-Dragon.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Riya';
    src: url('../Riya-Black.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Le Fontaine';
    src: url('../LeFontaine-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coffee';
    src: url('../I-Need-Coffee.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}