html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #404040;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

a, button {
    &:focus {
        outline: 0;
    }
}

canvas {
    &:focus {
        outline: none;
    }
}

.btn {
    cursor: pointer;
    font-weight: inherit;

    &:focus, &.focus {
        @include box-shadow(0 0 0 transparent);
    }
}

div.card {
    flex: 0 0 calc(33.33333% - 20px); /* 60px of padding total between 3 cards -> avg 20px each */
}

img.card-img-top {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

div.modal-content {
    border: 0px;
    @include border-radius(0);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.flexbox {
    display: flex;

    &.flexcolumn {
        flex-direction: column;
    }

    &.flexrow {
        flex-direction: row;
    }
}

.flexgrow {
    flex-grow: 1;
}

.hidden {
    display: none !important;
}

.strong {
    font-weight: bolder !important;
}

.no-margin {
    margin: 0 !important;
}

.margin-btm-1em {
    margin-bottom: 1em !important;
}

.margin-btm-75pem {
    margin-bottom: .75em !important;
}

.line-after {
    overflow: hidden;
    line-height: 1em;
    height: 1em;

    &:after {
        content: '';
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 1em;
        border-top: 1px solid $light-gray;
        opacity: 0.5;
    }
}