body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #404040;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

a, button {
    &:focus {
        outline: 0;
    }
}

.btn {
    cursor: pointer;
    font-weight: inherit;

    &:focus, &.focus {
        @include box-shadow(0 0 0 transparent);
    }
}

div.card-deck {
    margin-top: 2em;

    &::first-child {
        margin-top: 1em;
    }
}

img.card-img-top {
    width: 100%;
}

div.modal-content {
    border: 0px;
    @include border-radius(0);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}