@charset 'utf-8';

$radius: 0.25rem;
$edge-color: #f5f5f5;

/**
* Dependencies
**/
@import 'mixins';
@import 'colors';
@import 'thirdparty/bootstrap/variables';

/**
* View Styles
**/
@import 'views/front/user';
@import 'views/front/grower';
@import 'views/front/food-listing';

/**
* Modal Styles
**/
@import 'modals/account';

main { // this should be templated
    padding-bottom: 48px; // footer height
}