body.dashboard-exchange-settings-meetup{
    
    form {
        >div:not(#meetup-setting) {
            display: none;
        }
    }
    .add-meetup{
        display:none;
    }

}
body.dashboard-exchange-settings-pickup{
    
    form {
        >div:not(#pickup-setting) {
            display: none;
        }
    }
}