body.back {
    div.titlebar {
        padding: 1em 0;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $off-white;
        font-weight: 100;
        color: $dark-gray;
    }
}

#other-option {
    display: none;
}

body.dashboard-exchange-settings-meetup{
    
    form {
        >div:not(#meetup-setting) {
            display: none;
        }
    }
    .add-meetup{
        display:none;
    }

}
body.dashboard-exchange-settings-pickup{
    
    form {
        >div:not(#pickup-setting) {
            display: none;
        }
    }
}

body.dashboard-exchange-settings-delivery{
    
    form {
        >div:not(#delivery-setting) {
            display: none;
        }
    }
}