body.dashboard-grower {
    div.container-fluid {
        padding: 10px;

        div.list-blocks {
            div.list-group {
                div.heading {
                    background-color: $dark-gray;
                    border: 0px;
                    color: #fff;
                    font-weight: 400;
                }

                div.description {
                    padding: 1em;
                    background: $muted;
                    border: 1px solid $superlight-gray;
                    border-top-width: 0;
                    border-bottom-width: 0;
                    font-size: 85%;
                    color: #fff;
                }

                div.progress {
                    border-top-width: 0;
                    border-bottom-width: 0;
                    @include rounded(0px);
                }

                div.list-ticks {
                    @include drop-shadow(0, 1px, 3px);
                    @include rounded($radius);
                    
                    a {
                        display: block;
                        padding-left: 1em;
                        padding-right: 1em;
                        border-color: $edge-color;

                        &.list-group-item {
                            border-width: 0px;
                            
                            &:not(:first-child) {
                                border-top-width: 1px;
                            }
                        }
                        
                        &.disabled {
                            cursor: text;
                            color: $light-gray;
                        }

                        &:not(.disabled):not(.active) {
                            color: $muted;
                        }
                        
                        i {
                            float: right;
                            opacity: 0.75;
                            line-height: 1.5;

                            &.fa-check {
                                color: $success;
                            }

                            &.fa-times {
                                color: $light-gray;
                            }
                        }
                    }
                }
            }
        }
    }
}