body.bighousefarm {
    nav#header {
        display: none;
        visibility: hidden;
    }

    [canvas=container] {
        top: 0;
        height: 100%;
    }

    logo {
        img {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            width: 200px;
        }
    }

    h1, h2 {
        font-family: 'Logbond';
        letter-spacing: 1px;

        span {
            font-family: 'Logbond Outlines';
        }
    }

    h1 {
        font-size: 3.5rem;
        line-height: 4rem;
        color: #fff;
    }

    h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        color: #3d3d3d;
    }

    #hero {
        padding: 22.5rem 0;
        background: url('../media/bighousefarm/hero.jpg') no-repeat;
        background-size: cover;
        background-position: right center;

        a {
            display: block;
            font-size: 1.5rem;
            font-family: 'Logbond';
            color: #fff;
            letter-spacing: 1px;
            text-align: center;
            text-decoration: underline;
        }
    }

    .sidekick {
        padding-bottom: 5rem;

        &:first-child {
            padding-top: 15rem;
        }
        
        &:last-child {
            padding-bottom: 15rem;
        }

        /* > .row, 
        > .row .col {
            display: flex;
            align-items: center;
            flex-direction: column;
        } */

        p {
            margin-bottom: 1.5rem;
            font-family: 'Logbond';
            color: #3d3d3d;
            font-size: 1.85rem;
            letter-spacing: 1.5px;
        }
    }

    form {
        input,
        .btn {
            font-family: 'Logbond';
            letter-spacing: 1.5px;
            margin-bottom: 1rem;
        }

        input {
            font-size: 1.25rem;
        }
        
        .btn {
            font-size: 1.85rem;
        }

        .post-signup {
            display: none;
            font-size: 1.25rem;
            text-align: center;
        }
    }
}