body.front.food-listing {
    div.main.container {
        margin-top: 30px;
        margin-bottom: 30px;

        #main-content {
            h3.listing-name {
                color: $dark-gray;
                font-size: 2em;
                font-weight: 500;
                
                small {
                    color: $light-gray;
                    font-weight: 100;
                }
                
                span {
                    border-bottom: 3px solid $light-green;
                }
            }

            span.listing-rating {
                color: $superlight-green;
            }

            div.bio {
                margin: 1em 0;
                color: $muted;
            }

            div.set {
                margin-top: 2em;
    
                div.title {
                    font-size: 1.5em;
                    font-weight: 100;
                    color: $light-gray;
            
                    strong {
                        color: $dark-gray;
                    }
                }
    
                div.subtitle {
                    margin: 0.5em 0;
                    color: $muted;
                }
    
                div.callout {
                    position: relative;
                    
                    &:not(:last-child) {
                        margin-bottom: 40px;
    
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            bottom: -20px;
                            border-bottom: 1px solid $edge-color;
                        }
                    }
    
                    h6 {
                        margin-bottom: 0.5em;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: $muted;
                    }
    
                    p {
                        color: $light-gray;
    
                        &:not(:last-child) {
                            margin-bottom: 0.5em;
                        } 
                    }
                }
            }
    
            div.grower-title {
                div.name, div.rating {
                    display: inline-block;
                    vertical-align: middle;
                }
                
                div.name {
                    padding-right: 5px;
                    font-weight: bold;
                    font-size: 18px;
                }
                
                div.rating {
                    // padding: 0 3px;
                    // border: 1px solid $edge-color;
                    // background-color: #fff;
                    // background-color: $superlight-green;
                    font-size: 0.75em;
                    // color: #3FC592;
                    // color: #fff;
                    color: $muted;
                    // color: $superlight-green;
                    // @include rounded($radius);
                    
                    i {
                        line-height: 18px;
                    }
                }
            }
    
            div.grower-location {
                padding-top: 0.75em;
                font-weight: 400;
                font-size: 0.85em;
                color: $dark-gray;
            }
        }

        #add-to-cart {
            background-color: #fff;
            @include drop-shadow(0, 2px, 4px);
            @include border-radius(0, $radius, $radius, 0);

            select.custom-select, div.btn-group {
                border: 1px solid $edge-color;
                @include drop-shadow(0, 0, 0, 0);

                &:focus {
                    @include transform(none);
                }
            }
        }
    }
}