body.front.grower {
    [canvas="container"] {
        background-color: $superlight-gray;
    }
    
    div.main.container {
        margin-top: 30px;
        margin-bottom: 30px;

        #main-content {
            div.name {
                color: $dark-gray;
                font-size: 2em;
                font-weight: 500;
                
                small {
                    color: $light-gray;
                    font-weight: 100;
                }
                
                span {
                    border-bottom: 3px solid $superlight-green;
                }
            }
        }

        #sidebar-content {
            div.box {
                &.details{
                    padding: 0 0.5em;
                    background: #fff;

                    ul {
                        li {
                            display: block;
                            padding-left: 1em;
                            padding-right: 1em;
                            border-color: $edge-color;
                            border-width: 0;
                            color: $muted;
                            @include rounded(0);
                            
                            &.sub {
                                border-top-width: 1px;

                                &:first-child {
                                    border-top: 0;
                                }
                            }

                            &.heading {
                                margin-top: 0.5em;
                                background-color: $superlight-gray;
                                color: $dark-gray;
                                font-weight: 400;
                                @include rounded($radius);
                            }

                            span.inactive {
                                text-decoration: line-through;
                                color: $light-gray;
                            }

                            i {
                                opacity: 0.75;

                                &.fa-check {
                                    color: $brand-success;
                                }

                                &.fa-times {
                                    color: $light-gray;
                                }
                            }
                        }
                    }
                    
                    p {
                        font-weight: 300;
                        padding-left: 15px;
                    }
                }
            }
        }

        div.review-count {
            margin: 1em 0;

            div {
                display: inline-block;
                height: 2em;
                width: 2em;
                padding: 0.5em;
                margin-right: 0.25em;
                background-color: $superlight-green;
                line-height: 1;
                color: #fff;
                text-align: center;
                @include rounded(50px);
                // no drop shadow bc not actionable
            }

            strong {
                color: $muted;
            }
        }

        div.set {
            margin-top: 2rem;

            .user-block {
                + .user-block {
                    padding-top: 1rem;
                    border-top: 1px solid $edge-color;
                }
            }
        }

        .card {
            div.card-block {
                padding: 1.25rem;
            
                h6.card-subtitle {
                    color: $light-gray;
                    padding: 0.25rem 0;
                }
            
                p.card-text {
                    margin-top: 0.25rem;
                    color: $gray;
            
                    span.quantity {
                        padding: 0.15rem 0.25rem;
                        @include rounded(0.15rem);
                    }
                }
            }
        }
    }
}