main {
    background-color: #fff;
    padding-bottom: 0;
}

.main {
    background-color: #fff;

    h1 {
        color: $muted;
        font-weight: 100;
        text-shadow: 0 0 2px #fff;
        
        strong {
            color: $dark-gray;
            text-transform: uppercase;
        }

        @include phones() {
            margin: 0 1.5rem;
        }
    }

    p {
        color: $muted;

        @include phones() {
            margin: 1.5rem 1.5rem 0;
            font-size: 1.15rem;
        }
    }

    .btn {
        margin-top: 1rem;
    }

    .btn-dark:hover {
        background-color: $dark-gray;
        border-color: $dark-gray;
    }

    #hero {
        @include phones() {
            margin: 3rem 0 6rem;
        }

        @include lg-desktops() {
            background: url('../media/homepage/seeds.png') no-repeat;
            background-size: 1000px 666px;
            background-position: top right;
        }

        img.veggies {
            max-height: 700px;
            padding-right: 1rem;
        }
        
        h1 {
            @include phones() {
                margin: 0;
            }

            @include all-but-phones() {
                font-size: 4rem;
            }
        }
        
        img.colorbowl {
            max-height: 550px;
        }
    }

    #sidekick {
        h1 {
            @include phones() {
                font-size: 2.25rem;
            }
        }

        #thought {
            img.chard {
                position: absolute;
                max-width: 550px;
                
                @include phones() {
                    max-width: 450px;
                    left: -66%;

                    @include transform(translateY(-75px));
                }
                
                @include lg-desktops() {
                    @include transform(translateY(-135px));
                }
            }

            #thought-for-food {
                margin-top: 5rem;

                @include phones() {
                    h1 {
                        text-align: right;
                    }
                }
                
                @include all-but-phones() {
                    margin-top: 6rem;
                    margin-left: 13rem;
                    // margin-right: 2rem;
                    text-align: center;

                    @include transform(translateX(125px));
                }
            }

            img.tomatoes {
                @include phones() {
                    @include transform(rotate(90deg));
                }

                @include all-but-phones() {
                    position: absolute;
                    top: -15px;
                }
            }
        }

        #problems {
            .plate {
                max-height: 925px;
                
                @include phones() {
                    @include transform(translateY(-24px));
                }

                @include all-but-phones() {
                    position: absolute;
                    @include transform(translateY(-150px));
                }
            }

            #the-big-problems {
                @include all-but-phones() {
                    margin-top: 10rem;
                    text-align: center;
                    margin-right: 1rem;
                }
            }

            .chard-bunch {
                max-height: 400px;
                margin-top: 4rem;
            }
        }

        #model {
            img.smoothie {
                position: absolute;
                top: 12rem;
                right: 5rem;
                max-width: 325px;
            }

            #model-for-the-future {
                @include phones() {
                    margin-top: 6rem;
                }

                @include all-but-phones() {
                    margin-top: 10rem;
                }
            }
        }

        #action {
            margin-bottom: 2rem;

            @include phones() {
                margin-top: 2rem;
            }

            @include all-but-phones() {
                margin-top: 5rem;
            }
            
            #practice {
                @include phones() {
                    margin-top: 5rem;
                }
    
                @include all-but-phones() {
                    margin-top: 7rem;
                }

                h2 {
                    font-weight: 100;
                    color: $muted;

                    @include phones() {
                        margin-bottom: 2rem;
                        font-size: 1.75rem;
                        text-align: left;
                    }
    
                    @include all-but-phones() {
                        margin-bottom: 1rem;
                        text-align: right;
                    }
                }
            }

            img.loaf {
                // max-width: 750px;
                max-height: 450px;
            }
        }
    }
}