body.front.item {
    [canvas="container"] {
        background-color: $superlight-gray;
    }

    div.main.container {
        margin-top: 30px;
        margin-bottom: 30px;

        #main-content {
            div.set {
                margin-top: 2em;
    
                .user-block {
                    + .user-block {
                        padding-top: 1rem;
                        border-top: 1px solid $edge-color;
                    }
                }
    
                div.callout {
                    position: relative;
                    
                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
    
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            bottom: -0.75rem;
                            border-bottom: 1px solid $edge-color;
                        }
                    }
    
                    h6 {
                        margin-bottom: 0.5em;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: $muted;
                    }
    
                    p {
                        color: $light-gray;
    
                        &:not(:last-child) {
                            margin-bottom: 0.5em;
                        } 
                    }
                }
            }
        }

        #basket-form-container {
            background-color: #fff;
            @include drop-shadow(0, 2px, 4px);
            @include border-radius(0, $radius, $radius, 0);

            select.custom-select, div.btn-group {
                border: 1px solid $edge-color;
                @include drop-shadow(0, 0, 0, 0);

                &:focus {
                    @include transform(none);
                }
            }
        }
    }
}