div.main {
    height: calc(100% - 64px - 48px) /* header - footer */;
    width: 100%;

    div#map {
        height: 100%;
    }
}


/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.mapboxgl-popup {
    min-width: 200px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #404040;
    
    .mapboxgl-popup-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: inherit;
        width: inherit;
        padding: 0 20px;
        @include rounded(75px);
        
        div.grower-profile {
            margin: 0 auto;
            width: 50px;
            height: 50px;
            background-size: cover;
            background-position: center;
            @include rounded(100px);
        }

        div.info {
            flex-grow: 2;
            padding-left: 10px;

            div.title {
                div.name, div.rating {
                    display: inline-block;
                    vertical-align: bottom;
                }
                
                div.name {
                    padding-right: 5px;
                    font-weight: bold;
                    font-size: 18px;
                }
                
                div.rating {
                    padding: 0 5px;
                    background-color: #3FC592;
                    color: #fff;
                    @include rounded(5px);
                    
                    i {
                        line-height: 20px;
                    }
                }
    
            }
        }

        .mapboxgl-popup-close-button {
            display: none;
        }
    }
}

.pulse {
    background: transparent;
    height: 14px;
    width: 14px;
    position: absolute;
    margin: 0;
    @include rounded(100px);
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        z-index: 1;
        cursor: pointer;
    }
    
    &:after {
        content: '';
        height: 40px;
        width: 40px;
        position: absolute;
        margin: -13px 0 0 -13px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        @include animation(pulsate 2s ease-out);
        @include animation-iteration-count(infinite);
        @include box-shadow(0 0 0px 1px #fff);
        @include animation-delay(1.1s);
        @include rounded(100px);
    }
}

@include keyframes(pulsate) {
    0% {
        @include transform(scale(0.1, 0.1));
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }

    100% {
        @include transform(scale(1.2, 1.2));
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}