/*
 * artistic styles reside here
 * formatting styles can be found in /architecture/universal
 */

nav#header.navbar {
    background-color: #fff;
    border-bottom: 1px solid $edge-color;
    // @include drop-shadow(0, 2px, 4px);

    @include all-but-phones() {
        padding: 0.5rem 1rem;
    }
    
    @include phones() {
        padding: 0.75rem 0;

        a.navbar-brand {
            margin-left: 1rem;
        }
        
        button {
            margin-right: 1rem;
        }

        div.navbar-collapse {
            padding: 1rem 0 1rem;
        }
    }

    a.navbar-brand {
        height: 40px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;

        svg {
            height: 40px !important;

            @include phones() {
                width: 275px !important;
            }

            @include all-but-phones() {
                width: 320px !important;
            }
        }
    }

    ul.navbar-nav {
        align-items: center;

        @include phones() {
            > * {
                width: 100%;
            }
        }
    }

    li.nav-item {
        // computed height: 48px
        padding: 0 0.5em;

        a.nav-link {
            cursor: pointer;
            padding: 0.25em 0.5em;
            background: transparent;
            border: 1px solid transparent;
            @include rounded(0.25em);
            @include transition(all .3s);

            &.active {
                background: $superlight-green;
                border: 1px solid $superlight-green;
                color: #fff;
                @include drop-shadow(0, 2px, 4px);
            }

            &:not(.active):hover {
                border-top: 0.5px solid $lightedge-color;
                color: $superlight-green;
                @include transform(translateY(-2px));
                @include drop-shadow(0, 2px, 4px);
            }

            span + i {
                padding-left: 0.25em;
            }
        }

        &.profile {
            // computed height: 48px;
            padding-top: 4px;
            padding-bottom: 4px;

            .nav-link {
                cursor: pointer;
                height: 40px;
                width: 40px;
                border: 0.5px solid $edge-color;
                background-size: cover;
                background-position: center center;
                @include rounded(50px);
                @include drop-shadow(0, 2px, 4px);
                @include transition(all .2s);
    
                &:hover {
                    @include transform(translateY(-2px));
                    @include drop-shadow(0, 5px, 20px);
                }

                &:after {
                    border: 0;
                }
            }
        }

        @include phones() {
            font-size: 1.5rem;
            // text-align: center;
        }
    }

    div.dropdown-menu {
        z-index: $super-z;
        margin-top: 0.75rem;
        border-color: $edge-color;
        @include drop-shadow(0, 2px, 4px);

        a.dropdown-item {
            @include transition(all .2s);

            &:hover {
                background-color: $superlight-green;
                color: #fff;

                i {
                    color: #fff !important;
                }
            }

            i {
                float: right;
                margin-top: 7px;
                font-size: .75rem;
                @include transition(all .2s);
            }
        }
    }
}