nav.navbar {
    background-color: #fff;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    a.navbar-brand {
        height: 40px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;

        svg {
            height: 40px !important;
            width: 320px !important;
        }
    }
}