nav#header.navbar {
    /* computed height: 66px */
    z-index: 99;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    border-bottom: 1px solid $edge-color;
    // @include drop-shadow(0, 2px, 4px);

    @include phones() {
        div.navbar-collapse {
            padding-left: 1em;
            padding-top: 1em;
        }
    }

    a.navbar-brand {
        height: 40px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;

        svg {
            height: 40px !important;

            @include phones() {
                width: 95px !important;
            }

            @include all-but-phones() {
                width: 320px !important;
            }
        }
    }

    li.nav-item {
        // computed height: 48px
        padding: 0 0.5em;

        a.nav-link {
            cursor: pointer;

            &.active {
                i {
                    background: $superlight-green;
                    border: 1px solid $superlight-green;
                    color: #fff;
                    @include drop-shadow(0, 2px, 4px);
                }
            }

            &:not(.active):hover {
                i {
                    border-top: 0.5px solid $lightedge-color;
                    color: $superlight-green;
                    @include transform(translateY(-2px));
                    @include drop-shadow(0, 2px, 4px);
                }
            }

            i {
                padding: 0.5em;
                background: transparent;
                border: 1px solid transparent;
                color: inherit;
                @include rounded(0.25em);
                @include transition(all .3s);
            }
        }

        /* span {
            border-bottom: 2px solid $light-gray;
        } */

        &.profile {
            // computed height: 48px;
            padding-top: 4px;
            padding-bottom: 4px;

            .nav-link {
                cursor: pointer;
                height: 40px;
                width: 40px;
                border: 0.5px solid $edge-color;
                background-size: cover;
                background-position: center center;
                @include rounded(50px);
                @include drop-shadow(0, 2px, 4px);
                @include transition(all .2s);
    
                &:hover {
                    @include transform(translateY(-2px));
                    @include drop-shadow(0, 5px, 20px);
                }

                &:after {
                    border: 0;
                }
            }
        }
    }

    div.dropdown-menu {
        z-index: 9998;
        margin-top: 0.75rem;
        border-color: $edge-color;
        // @include rounded(0px);
        @include drop-shadow(0, 2px, 4px);

        a.dropdown-item {
            &:hover {
                background-color: $superlight-green;
                color: #fff;
            }
        }
    }
}