body.grower-dashboard-exchange-settings-delivery{
    
    form {
        >div:not(#delivery-setting) {
            display: none;
        }
    }
}
#other-option {
    display: none;
}
<<<<<<< HEAD
=======

body.grower-dashboard-exchange-settings-pickup{
    
    form {
        >div:not(#pickup-setting) {
            display: none;
        }
    }
}
>>>>>>> pickup
