body.grower {
    main {
        padding: 0;
    }

    div.subheader {
        border-bottom: 1px solid #eee;
        margin-bottom: 1.5rem;
        
        a.nav-link {
            padding: 15px 0;
            color: #8ca3ad;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                color: #58707b;
            }

            &.active {
                color: $light_green;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    height: 5px;
                    width: 100%;
                    background-color: darken($light_green, 10%);
                }
            }
        }
    }
}