#cart[off-canvas*=right] {
    padding: 1em;
    overflow-y: auto;
    background-color: #fff;
    border-left: 1px solid $edge-color;
    color: $muted;

    @include phones() {
        width: calc(100% - 2.5rem);
    }

    #ordergrowers {
        div.set {
            &:not(:last-child) {
                margin-bottom: 1em;
            }
    
            h6 {
                font-weight: 500;
            }
    
            div.cart-items {
                div.cart-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.5em;
                    margin-bottom: 0.5em;
                    background: $superlight-gray;
                    color: $muted;
                    @include drop-shadow(0, 2px, 4px);
                    @include rounded($radius);

                    div.item-image {
                        flex-basis: 30%;
        
                        img {
                            border: 1px solid $edge-color;
                            @include rounded($radius);
                        }
                    }
        
                    div.item-content {
                        padding-left: 0.5em;
                        flex-grow: 1;
        
                        div.item-title {
                            font-weight: 400;
                            font-size: 0.85em;
        
                            a {
                                cursor: pointer;
                                color: $muted;
        
                                &:hover {
                                    color: $light-green;
                                }
                            }
                        }
        
                        div.item-details {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-top: 0.25em;
        
                            select.custom-select {
                                height: auto;
                                padding: 0.25rem 1.70rem 0.25rem 0.7rem;
                                border-color: $edge-color;
                                font-size: 0.85em;
                                color: $muted;
                                @include drop-shadow(0,0,0);
                            }
        
                            div.item-price {
                                flex-grow: 1;
                                padding-left: 0.5em;
                                text-align: right;
                                font-size: 0.85em;
                            }
                        }
                    }
                }
            }
        }
    }

    div.line-amount {
        display: flex;
        flex-direction: row;
        padding: 0 0.5rem;
        font-size: 0.75em;
        font-weight: 300;
        color: lighten($muted, 5%);

        &#total {
            margin-top: 0.5rem;
            font-size: 1em;
            font-weight: 500;
        }

        a.label {
            &:hover {
                cursor: default;
                color: $superlight-green;
            }
            
            i {
                margin-left: 2px;
                // padding: 3px;
                // height: 14px;
                // width: 14px;
                // background: $muted;
                // text-align: center;
                // font-size: 8px;
                // line-height: 8px;
                // color: #fff;
                // @include rounded(50px);
            }
        }

        div.rate {
            flex-grow: 1;
            text-align: right;
        }
    }

    #checkout-btn {
        margin-top: 1em;
        /* font-size: 0.85em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px; */
    }

    #empty-basket {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        display: block;
        transform: translateY(-50%);
        text-align: center;
        font-weight: 500;
    }
}