#nav[off-canvas*=left] {
    width: calc(100% - 2.5rem);
    padding: 1em;
    overflow-y: scroll;
    background-color: #fff;
    border-right: 1px solid $edge-color;
    color: $muted;
    font-size: 1.5rem;
}