@mixin light-on-dark() {
    background-color: $dark-green;
    color: $light-green;
}

@mixin dark-on-light() {
    background-color: $light-green;
    color: $dark-green;
}

div.row > div {
    padding: 0;
}

div.split-left {
    height: 100%;
    padding: 125px 0 125px;

    @include light-on-dark();

    border: solid transparent; 
    border-width: 0 5px 0 0;
    border-image: url('../media/patterns/brush-border-full.svg') 5 repeat;

    button {
        @include dark-on-light();
    }

    @include phones() {
        border-width: 0 0 5px 0;
        border-image: url('../media/patterns/brush-border-full-horizontal1.svg') 5 repeat;
    }
}

div.split-right {
    height: 100%;
    padding: 125px 0 125px;

    @include dark-on-light();

    button {
        @include light-on-dark();
    }
    
    @include phones() {
        border: solid transparent;
        border-width: 0 0 5px 0;
        border-image: url('../media/patterns/brush-border-full-horizontal2.svg') 5 repeat;
    }
}

section.hero {
    img {
        max-width: 100%;
    }

    div.split-left {
        padding-top: 250px;
        text-align: right;
        
        img.logo {
            padding-right: 2.5em;
            width: 300px;
        }
    }

    div.split-right {
        padding-top: 250px;
        text-align: left;
        
        @include phones() {
            padding-top: 125px;
        }

        img.business-name {
            padding-left: 2.5em;
            width: 400px;

            @include phones() {
                padding-right: 2.5em;
            }
        }
    }
}

section.vision {
    div.split-left {
        h1 {
            text-align: right;
            padding-right: 0.15em;

            @include phones() {
                text-align: center;
                font-size: 1.5em;
                padding: 0 2.5em;
            }
        }
    }
    
    div.split-right {
        h1 {
            text-align: left;
            padding-left: 0.15em;
        }
    }
}

section.intro {
    p {
        margin: 0 auto;
        width: 66.66%;
        font-size: 18px;
    }
}

section.user-types {
    text-align: center;

    h3 {
        margin: 1.25em 0;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .15px;

        strong {
            font-weight: 600;
        }
    }

    p, ul {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        width: 66.66%;
        margin-top: 1.25em;
        margin-bottom: 0;
        font-size: 16px;
    }

    ul {
        width: 40%;
        text-align: left;
        font-size: 16px;
        font-weight: lighter;
    }

    form {
        margin-top: 30px;

        input, button {
            width: 55%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-family: 'Signika';
            border: 0;

            &:focus {
                @include placeholder() {
                    color: transparent;
                }
            }

            &[type="text"] {
                margin-top: 7.5px;
                margin-bottom: 7.5px;
                background-color: rgba(255,255,255,0.8);
            }
        }
    }

    @include phones() {
        div.split-left {
            @include dark-on-light();
            border-image: url('../media/patterns/brush-border-full-horizontal2.svg') 5 repeat;

            button {
                @include light-on-dark();
            }
        }
        
        div.split-right {
            @include light-on-dark();
            border-image: url('../media/patterns/brush-border-full-horizontal1.svg') 5 repeat;
            
            button {
                @include dark-on-light();
            }
        }

        h3, p {
            width: 100%;
            padding-left: 2em;
            padding-right: 2em;
        }

        ul {
            width: 80%;
        }

        form {
            input, button {
                width: 80%;
            }
        }
    }
}

section.footer {
    text-align: center;
    font-weight: 300;

    div.split-left {
        padding-bottom: 15px;
        
        @include phones() {
            padding: 50px 0;
            border: 0;
        }
    }
    
    div.split-right {
        padding-bottom: 15px;
    }
}

section.break {
    text-align: center;
    
    div.split-left, div.split-right {
        padding: 25px 0; 
    }
}

h1 {
    font-size: 36px;
    font-family: 'Riya';
}

/*div.hr {
    height: 45px;
    background-repeat: round space;
    background-clip: border-box;
}*/