body.team-member-invitation {
    padding-top: 3.5em;
    background-color: $dark-green;
    font-family: 'Signika';
    color: $light-green;
    
    div.logo {
        svg {
            display: block;
            margin: 0 auto;
        }
    }

    h1 {
        font-size: 36px;
        font-family: 'Riya';
        text-align: center;
    }

    p {
        margin: 0.5em 0 1.5em 0;
        text-align: justify;
    }

    input, button, select {
        // text-align: center;
        font-family: 'Signika';
        border: 0;
        height: auto;
        
        &:not(.btn-sm) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &:focus {
            @include placeholder() {
                color: transparent;
            }
        }
    }

    button[type="submit"]:hover {
        box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
        background-color: darken($light-green, 2.5%);
    }

    span.input-group-addon {
        border: 0;
    }

    .form-text {
        margin-bottom: 1em;

        a {
            font-weight: 600;
            color: lighten($light-green, 2%);
            border-bottom: 2px solid transparent;
            @include transition(all 0.1s ease-in-out);

            &:hover {
                color: lighten($light-green, 2%);
                border-color: lighten($light-green, 2%);
            }
        }
    }
    
    .btn {
        cursor: pointer;
        font-weight: inherit;
    
        &:focus, &.focus {
            @include box-shadow(0 0 0 transparent);
        }
    }
}