#messages {
    min-height: calc(100vh - 65px - 52px - 57px - 5rem);

    .message {
        @include phones() {
            margin-top: 0;

            &.right-message {
                margin-bottom: 0.5rem;
            }
    
            &.left-message {
                margin-bottom: 0.75rem;
            }
            
            > cell {
                margin: 0;
            }
        }

        @include all-but-phones() {
            &.right-message {
                margin-bottom: 0.5rem;
            }
    
            &.left-message {
                margin-bottom: 0.25rem;
            }
        }
    }
}

#new-message {
    min-height: 57px;
    margin-top: 1rem;

    @include phones() {
        texarea {
            @include border-top-radius($radius);
        }

        .btn {
            width: 100%;
        }
    }
}