/*
 * artistic styles reside here
 * formatting styles can be found in /architecture/dashboard
 */

div.sidebar {
    padding-left: 0;
    padding-right: 0;

    @include phones() {
        background-color: #fff;
    }

    .navbar {
        @include phones() {
            padding-left: 0;
            padding-right: 0;
            min-height: 60px;
            background-color: #fff;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;

            .navbar-collapse {
                // margin-top: calc(60px + 0.5rem - 1rem - 1px);
                margin-top: 0.5rem;
            }
        }
        
        @include all-but-phones() {
            padding: 0;

            ul.nav {
                width: 100%;
            }
        }

        button {
            height: calc(60px - 1rem - 1px);
            margin-left: 0.5rem;
            background-color: $superlight-green;
            border-color: $superlight-green;

            i {
                color: #fff;
            }
        }
    }

    .nav-link {
        padding: 15px 30px;
        color: #8ca3ad; // magic color
        font-size: 14px;
        border-left: 2px solid transparent;

        @include phones() {
            padding-left: 15px;
            padding-right: 15px;
        }

        &.parent {
            &:after {
                float: right;
            }

            &[aria-expanded="false"] {
                &:after {
                    content: '\002b';
                }
            }
            
            &[aria-expanded="true"] {
                &:after {
                    content: '\2013';
                }
            }
        }

        &.child {
            padding: 10px 30px;

            @include phones() {
                padding-left: 15px;
                padding-right: 15px;
            }

            &.active {
                background-color: $superlight-green;
                color: #fff;
                font-weight: 400;
                
                @include all-but-phones() {
                    border-color: darken($light-green, 10%);
                }
            }
            
            i {
                float: right;
                margin-top: 5px;
                font-size: .75rem;
            }
        }
        
        &.active:not(.parent):not(.child) {
            color: $superlight-green;
            font-weight: 500;
        }
    }

    a.nav-link:hover {
        color: #58707b; // magic color
    }

    li.nav-item {
        .collapse.show {
            background-color: $superlight-gray;
        }

        &.account-link {
            border-bottom: 1px solid $edge-color;

            .nav-link {
                padding-right: 0.5rem;
                
                i {
                    padding-right: 0.25rem;
                }
            }
        }

        &:not(.account-link) {
            a.nav-link {
                &[aria-expanded="true"] {
                    background-color: $superlight-gray;
                    color: $superlight-green;
                    font-weight: 500;
                }
            }
        }
    }

    .dropdown-menu {
        width: 100%;
        left: 0; 
        right: 0;
        z-index: $super-z;
        margin: 0 auto;
        padding: 0;
        background-color: $superlight-gray;
        border: 0px;
        @include border-bottom-radius($radius);
        @include drop-shadow(0, 5px, 10px);

        a {
            cursor: pointer;
            padding: 0.75rem 0 0.75rem 2rem;
            border-top: 1px solid $edge-color;
            font-size: 0.85rem;
            color: #8ca3ad;

            &:hover {
                color: $muted !important;
            }
            
            &:active {
                background-color: transparent;
            }
        }
    }
}